@import "../src/normalize";
@import "../src/fonts";
@import "../src/prettify_desert";
@import "compass/css3";

$baseFontSize: 16px !default;
$slidesNum: 10;
$slidesContainerWidth: $slidesNum * 100%;
$slidesItemWidth: 1 / $slidesNum * 100%;

@function pxTorem($px) {
  @return $px / $baseFontSize * 1rem;
}

html,body {
  font-size: $baseFontSize;
  font-family: "Lato",Helvetica,Tahoma,'\5fae\8f6f\96c5\9ed1','\5b8b\4f53',Arial,sans-serif; // unicode 为 微软雅黑  和  宋体
  line-height: 1.4;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.pseudo-slides {
  font-size: pxTorem(30px);
  font-weight: 400;
  color: #eee;
  text-align: center;
  height: 100%;
  position: relative;
  overflow: hidden;
  counter-reset: slidesCounter;

  &::after {
    content: counter(slidesCounter)'/';
    position: absolute;
    bottom: pxTorem(24px);
    right: pxTorem(54px);
  }

  > input[type="radio"] {
    position: relative;
    z-index: -1;
    counter-increment: slidesCounterRadio;

    &::after {
      content: counter(slidesCounterRadio);
      position: absolute;
      font-size: pxTorem(12px);
      left: 0;
      right: 0;
      top: 13px;
      text-align: center;
      color: #fff;
    }
  }

  #pseudo-slides-debug {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    &:checked {
      ~ input[type="radio"] {
        z-index: 10;
      }
    }
  }

  h1,h2,h3,h4 {
    margin: 0 0 pxTorem(20px) 0;
    color: #eee;
    font-family: "Roboto Slab",Helvetica,Tahoma,'\5fae\8f6f\96c5\9ed1','\5b8b\4f53',Arial,sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
    @include text-shadow(none);
  }

  img {
    max-width: 100%;
    @include box-shadow(0 0 0px 4px rgba(0,0,0,.15));
    @include border-radius(1px);
  }

  pre {
    text-align: left;
    font-family: "Inconsolata";
    @include box-shadow(0 0 0px 4px rgba(0,0,0,.15));
    @include border-radius(1px);
    @include box-sizing(border-box);
    display: inline-block;
    padding: pxTorem(10px) pxTorem(20px);
    font-size: pxTorem(20px);
    min-width: pxTorem(800px);
    max-width: 100%;
  }

  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .pseudo-slides-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include transform(translate3d(0,0,0));
    @include transition(transform 800ms cubic-bezier(0.77, 0, 0.175, 1));
    width: $slidesContainerWidth;
  }

  .pseudo-slides-item {
    position: relative;
    float: left;
    height: 100%;
    width: $slidesItemWidth;
    text-align: left;
    vertical-align: top;
    background: #2c3e50;
    counter-increment: slidesCounter;

    &:nth-of-type(2n) {
      background: #16a085;
    }

    &:nth-of-type(3n) {
      background: #2980b9;
    }

    &:nth-of-type(4n) {
      background: #27ae60;
    }

    &::after {
      content: counter(slidesCounter);
      position: absolute;
      bottom: pxTorem(24px);
      right: pxTorem(24px);
    }
  }

  .pseudo-slides-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 90%;
    max-width: 80%;
    min-width: 80%;
    padding: pxTorem(16px);
    text-align: center;
    @include transform(translate3d(-50%, -50%, 0));
    @include box-sizing(border-box);

    ul {
      text-align: left;
      display: inline-block;
    }
  }

  .pseudo-slides-ctrl {
    label {
      width: 10%;
      font-size: pxTorem(60px);
      line-height: pxTorem(50px);
      text-align: left;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      cursor: pointer;
      opacity: 0.1;
      @include transition(opacity .5s ease);
      vertical-align: middle;
      z-index: -1;

      &:hover {
        opacity: 0.9;
      }

      &::after {
        content: "\21E6";
        position: absolute;
        top: 50%;
        right: pxTorem(24px);
        @include text-shadow(0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5));
        @include transform(translate3d(0, -50%, 0));
      }
    }
  }

  .pseudo-slides-progress {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0;
    font-size: 0;
    height: pxTorem(5px);
    background: #c0392b;
    @include transition(width .5s ease);
  }

  @for $i from 1 through $slidesNum {
    #pseudo-slides#{$i}:checked {
      ~ .pseudo-slides-container {
        @include transform(translate3d(#{($slidesItemWidth * ($i - 1) * -1)}, 0, 0));
      }
      ~ .pseudo-slides-progress {
        width: $slidesItemWidth * $i;
      }
      ~ .pseudo-slides-ctrl {
        label {
          &:nth-child(#{$i + 1}) {
            left: auto;
            right: 0;
            z-index: 1;
            text-align: right;

            &::after {
              content: "\21E8";
            }
          }
          &:nth-child(#{$i - 1}) {
            display: block;
            z-index: 1;

            &::after {
              right: auto;
              left: pxTorem(24px);
            }
          }
        }
      }
    }
  }
}