@import "compass/css3";

.flex-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #333;
  @include box-shadow(0 0 0px 4px rgba(0,0,0,.15));
  @include border-radius(1px);
}

.flex-item {
  background-color: #d35400;
  width: 100px;
  height: 100px;
  @include box-sizing(border-box);
  margin: 5px;
}

.demos {
  display: inline-block;
  overflow: hidden;
  @include box-sizing(border-box);
  padding: 4px;
}

.demos1 {
  width: 800px;

  .flex-container {
    float: left;
    width: 170px;
    height: 300px;
    margin-left: 25px;

    &:nth-child(2) {
      direction: rtl;
    }

    &:nth-child(3) {
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
    }

    &:nth-child(4) {
      -webkit-writing-mode: vertical-lr;
      writing-mode: vertical-lr;
    }

    .flex-item {
      width: 25px;
      height: 50px;
      font-size: 20px;
      line-height: 25px;
    }
  }
}

.demos2 {
  width: 800px;

  .flex-container {
    float: left;
    width: 170px;
    height: 300px;
    margin-left: 25px;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }

    &:nth-child(3) {
      flex-direction: column;
    }

    &:nth-child(4) {
      flex-direction: column-reverse;
    }

    .flex-item {
      width: 25px;
      height: 50px;
      font-size: 20px;
      line-height: 25px;
    }
  }
}

.demos3 {
  width: 800px;

  .flex-container {
    float: left;
    width: 170px;
    height: 300px;
    margin-left: 25px;

    &:nth-child(1) {
      flex-direction: row-reverse;
    }

    &:nth-child(2) {
      direction: rtl;
    }

    &:nth-child(3) {
      flex-direction: column;
    }

    &:nth-child(4) {
      -webkit-writing-mode: vertical-lr;
      writing-mode: vertical-lr;
    }

    .flex-item {
      width: 25px;
      height: 50px;
      font-size: 20px;
      line-height: 25px;
    }
  }
}

.demos4 {
  width: 800px;

  .item {
    background: #d35400;
    margin: 10px;
  }
}

.demos5 {
  width: 800px;

  .flex-container {
    float: left;
    width: 170px;
    height: 300px;
    margin-left: 25px;

    &:nth-child(1) {
      .flex-item {
        width: 100px;
        height: auto;

        &:nth-child(1) {
          flex: 1;
        }
        &:nth-child(2) {
          flex: 2;
        }
      }
    }

    &:nth-child(2) {
      .flex-item {
        width: 100px;
        min-width: 100px;
        height: auto;

        &:nth-child(1) {
          flex: 1;
        }
        &:nth-child(2) {
          flex: 2;
        }
      }
    }

    &:nth-child(3) {
      .flex-item {
        width: 50px;
        height: auto;

        &:nth-child(1) {
          min-width: 50px;
          flex: 1;
        }
        &:nth-child(2) {
          max-width: 50px;
          flex: 2;
        }
      }
    }

    &:nth-child(4) {
      .flex-item {
        width: 25px;
        min-width: 25px;
        max-width: 25px;
        height: auto;

        &:nth-child(1) {
          flex: 1;
        }
        &:nth-child(2) {
          flex: 2;
        }
      }
    }

    .flex-item {
      font-size: 20px;
      line-height: 25px;
    }
  }
}

.demos6 {
  width: 800px;

  .flex-container {
    &:nth-of-type(1) {
      .flex-item {
        flex: 1;

        &:nth-child(4) {
          flex: 2;
        }
      }
    }

    &:nth-of-type(2) {
      .flex-item {
        flex: auto;

        &:nth-child(4) {
          flex: 2 1 auto;
        }
      }
    }

    .flex-item {
      width: auto;
    }
  }
}

.demos7 {
  width: 300px;

  .flex-container {
    flex-wrap: wrap;
  }
}

.demos8 {
  width: 800px;

  .flex-container {
    margin-top: 15px;
    &:nth-child(1) {
      justify-content: flex-end;
    }
    &:nth-child(2) {
      justify-content: center;
    }
    &:nth-child(3) {
      justify-content: space-between;
    }
    &:nth-child(4) {
      justify-content: space-around;
    }

    .flex-item {
      height: 50px;
      width: 60px;
      &:nth-child(1) {
        background: #f1c40f;
      }
      &:nth-child(2) {
        width: 120px;
        background: #2ecc71;
      }
      &:nth-child(3) {
        width: 180px;
        background: #9b59b6;
      }
    }
  }
}

.demos9 {
  width: 800px;

  .flex-container {
    float: left;
    width: 270px;
    height: 150px;
    margin-left: 25px;
    margin-top: 15px;

    &:nth-child(1) {
      align-items: flex-end;
    }
    &:nth-child(2) {
      align-items: center;
    }
    &:nth-child(3) {
      align-items: baseline;
    }
    &:nth-child(4) {
      align-items: stretch;
    }

    .flex-item {
      height: 100px;
      word-break: break-all;
      width: auto;
      margin: 0;
      &:nth-child(1) {
        flex: 1;
        font-size: 12px;
        line-height: 2;
        height: 60px;
        background: #f1c40f;
      }
      &:nth-child(2) {
        flex: 2;
        font-size: 20px;
        line-height: 2;
        background: #2ecc71;
      }
      &:nth-child(3) {
        flex: 3;
        font-size: 16px;
        line-height: 2;
        height: 80px;
        background: #9b59b6;
      }
    }
  }
}

.demos10 {
  width: 800px;
  .flex-container {
    height: 200px;

    .flex-item {
        &:nth-child(1) {
          margin-right: auto;
        }
    }
  }
}

.demos11 {
  width: 800px;
  .flex-container {
    height: 600px;

    .flex-item {
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
  }
}