@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inconsolata/inconsolata_700-webfont.eot');
    src: url('../fonts/inconsolata/inconsolata_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inconsolata/inconsolata_700-webfont.woff') format('woff'),
         url('../fonts/inconsolata/inconsolata_700-webfont.ttf') format('truetype'),
         url('../fonts/inconsolata/inconsolata_700-webfont.svg#inconsolatabold') format('svg');
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inconsolata/inconsolata_regular-webfont.eot');
    src: url('../fonts/inconsolata/inconsolata_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inconsolata/inconsolata_regular-webfont.woff') format('woff'),
         url('../fonts/inconsolata/inconsolata_regular-webfont.ttf') format('truetype'),
         url('../fonts/inconsolata/inconsolata_regular-webfont.svg#inconsolataregular') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato/lato_regular-webfont.eot');
    src: url('../fonts/lato/lato_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato_regular-webfont.woff') format('woff'),
         url('../fonts/lato/lato_regular-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato_regular-webfont.svg#latoregular') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato/lato_700-webfont.eot');
    src: url('../fonts/lato/lato_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato_700-webfont.woff') format('woff'),
         url('../fonts/lato/lato_700-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato_700-webfont.svg#latobold') format('svg');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/robotoslab/roboto_slab_regular-webfont.eot');
    src: url('../fonts/robotoslab/roboto_slab_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab/roboto_slab_regular-webfont.woff') format('woff'),
         url('../fonts/robotoslab/roboto_slab_regular-webfont.ttf') format('truetype'),
         url('../fonts/robotoslab/roboto_slab_regular-webfont.svg#roboto_slabregular') format('svg');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/robotoslab/roboto_slab_700-webfont.eot');
    src: url('../fonts/robotoslab/roboto_slab_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab/roboto_slab_700-webfont.woff') format('woff'),
         url('../fonts/robotoslab/roboto_slab_700-webfont.ttf') format('truetype'),
         url('../fonts/robotoslab/roboto_slab_700-webfont.svg#roboto_slabbold') format('svg');
}